<nav>
    <div class="nav-wrapper">
        <a href="#" class="brand-logo">Travel Book</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a class="loginstuff" href="/user">Users</a></li>
            <li><a  class="loginstuff" href="/add">Add Post</a></li>
    <li><a class="loginstuff saved">My Posts</a></li>
        <li><a class="loginstuff future">My Travel Book</a></li>
        <li><a href="/">Plan New Trip</a></li>
        <li><a class="login">Login</a></li>
          <li><a class="logout">Logout</a></li>
        </ul>
    </div>
</nav>

<div class="container">
    {{!-- page title --}}

    <div class="col s12 center-align">
        <h3 class="names"> Travel Book!</h3>
    </div>
    
  <div class="row">
      
    <ul class="collapsible" data-collapsible="accordion">
      {{!-- each list item is a separate trip; opening that trip displays all the amenities  --}}
      {{#each data.daty}}
      <li>
        <div class="collapsible-header trip-name" data-trip-name="{{tripName}}" data-status="closed"><i class="material-icons">filter_drama</i>Trip: {{tripName}}</div>
        <div class="collapsible-body">
          {{!-- populate with posts --}}
        </div>
      </li>
      {{/each}}
    </ul>

  </div>

      
</div>

{{>login}}