<nav>
    <div class="nav-wrapper">
        <a href="#" class="brand-logo">Travel Book</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a class="loginstuff" href="/user">Users</a></li>
            <li><a  class="loginstuff" href="/add">Add Post</a></li>
    <li><a class="loginstuff saved">My Posts</a></li>
        <li><a class="loginstuff future">My Travel Book</a></li>
        <li><a href="/">Plan New Trip</a></li>
        <li><a class="login">Login</a></li>
          <li><a class="logout">Logout</a></li>
        </ul>
    </div>
</nav>

<div class="container">
    {{!-- page title --}}
    <div class="col s12 center-align">
        <h3 class="names"> Travel Book!</h3>
    </div>
    <br>
    <div class="row">
      
       
</div>

{{>login}}