<!-- topnav -->

<nav>
    <div class="nav-wrapper">
    <a href="/" class="brand-logo">travelBook</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
                 <li><a class="loginstuff friendPage">Friends</a></li>
            <li><a  class="loginstuff" href="/add">Add Post</a></li>
         <li><a class="loginstuff saved">My Posts</a></li>
       <li><a class="loginstuff future">My Travel Book</a></li>
        <li><a href="/">Plan New Trip</a></li>
        <li><a class="login">Login</a></li>
        <li><a class="logout">Logout</a></li>
        </ul>
    </div>
</nav>
{{!-- main content --}}
<div class="container">
    {{!-- page title --}}
    <div class="col s12 center-align">
        <h3 class="welcome"></h3>
        <h5>Select your next travel destination!</h5>
    </div>
    {{!-- map --}}
    <div class="col s12 center-align">
        <div id="chartdiv"></div> 
    </div> 
    {{!-- dropdown options for cities --}}
    <div class="input-field col s12 cities">
        <select id="cities">
        </select>
    </div>
    {{!-- dropdown options for amenities -- can pick multiple --}}
    <div class="input-field col s12 categories">
        <select id="categories">
        <option value="" disabled selected>Choose amenities you'd like to search</option>
        <option value="attractions">Attractions</option>
        <option value="accommodations">Accommodations</option>
        <option value="food">Restaurants</option>
        </select>
    </div>
    {{!-- submit button --}}
    <div class="col s12 center-align">
        <a class="waves-effect waves-light btn-large" id="trip-search-submit"><i class="material-icons left">search</i>Search</a>
    </div>
</div>
{{>login}}


