<nav>
  <div class="nav-wrapper">
    <a href="/" class="brand-logo">travelBook</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a class="loginstuff friendPage">Friends</a></li>
      <li><a class="loginstuff" href="/add">Add Post</a></li>
      <li><a class="loginstuff saved">My Posts</a></li>
      <li><a class="loginstuff future">My Travel Book</a></li>
      <li><a href="/">Plan New Trip</a></li>
      <li><a class="login">Login</a></li>
      <li><a class="logout">Logout</a></li>
    </ul>
  </div>
</nav>
<div class="container">
  {{!-- page title --}}
  <div class="col s12 center-align">
    <h3>{{data.user}}'s Travel Book!</h3>
  </div>
  <div class="row">   
    <ul class="collapsible" data-collapsible="accordion">
      {{!-- each list item is a separate trip; opening that trip displays all the amenities  --}}
      {{#each data.daty}}
      <li class="trip-name" data-trip-name="{{tripName}}">
        <div class="collapsible-header">
          <i class="material-icons">airplanemode_active</i>
          Trip: {{tripName}}
        </div>
        <div class="collapsible-body row">
          {{!-- populate with posts --}}
        </div>
      </li>
      {{/each}}
    </ul>
  </div>

   <div class="row center-align">
    <div class="col s12">
      <button class="waves-effect waves-light btn back">Back</button>
    </div>  
  </div>
  
</div>
{{>login}}