#chartdiv {
    width: 100%;
    height: 500px;
}

#trip-search-submit {
    width: 100%;
}

#errormsg {
    color: red;
}

body {
    font-family: 'Muli', sans-serif;
    background-color: #0A2C50;    
    color: white;
}