#chartdiv {
    width: 100%;
    height: 500px;
}

#trip-search-submit {
    width: 100%;
}

#errormsg {
    color: red;
}

body {
    background-color: #18253A;    
    color: white;
}

nav {
    background-color: #E7B53F;
    text-shadow: 0.5px 0.5px black;
}

.modal, .side-nav, .trip-name, .card-content {
    color: black;
}

.add-friend, .delfriend {
    font-family: 'Muli', sans-serif;
}

.card-content {
    background-color: #0A2C50;
}

.side-nav, .card-action {
    background-color: #C1752F !important;
}

.trip-name {
    background-color: white;
}

.collapsible-body {
    margin: 0px;
}

.card-action i {
    color: white !important;
}

.brand-logo {
    margin-left: 10px;
}

.card-content {
    height: 650px;
}

.review-text {
    overflow: auto;
    height: 100px;
}

.responsive-img{

    height: 200px !important;
}